<header>
  <section>
    <!-- Intro -->
    <div id="intro" class="bg-image vh-100 thumbnail text-center" style="
          background-image: url('https://thehill.com/sites/default/files/istock-960937636_1_1.jpg');
          background-repeat: no-repeat;
        ">
      <div class="caption">
        <p class="head">Hello,Welcome to My World</p>
        <p>I am Alisha, WebDeveloper</p>
        <div class="flex-container btn">
          <div class="message flex-child butn1">
            <a class="nav-link" href="../assets/resume/Resume Latest.pdf"> Resume</a>
          </div>
          <div class="message butn2">
            <a class="nav-link" style="color: green;" href="https://wa.me/919381055167">
              <i class='fab fa-whatsapp' style='font-size:18px;'></i> WhatsApp
            </a>
          </div>
        </div>
      </div>
      <div class="mask" style="background-color: rgba(250, 182, 162, 0.15);"></div>
    </div>
    <!-- Intro -->
  </section>
  <!--Section: Design Block-->
</header>

<router-outlet></router-outlet>
