<br><br><br><br>
<h2>Projects:</h2>
<br>
<div class="flex-container">
  <div class="exp">
    <div class="flex-container">
      <div class="logo-image flex-child">
        <img src="../../../assets/images/health-insurance.png" class="img-fluid">
      </div>
      <div class="flex-child">
        <a class="navbar-brand" href="https://wecare-8ee67.web.app/">
          WeCare
        </a>
        <div class="flex-container">
          <div class="message flex-childy">
            <a href="https://github.com/alishashaik24/Wecare.git" target="_blank">
              <button class="btn github"><i class="fab fa-github"></i> Code</button></a>
          </div>
          <div class="message">
            <a href="https://wecare-8ee67.web.app/" target="_blank">
              <button class="btn github"><i class="fab fa-angular"></i> Link</button></a>
          </div>
        </div>
        <div class="abt">
          Online portal for Plasma Donation, Receival and Vaccine Registration.
        </div>
      </div>
    </div>
  </div>
  <div class="exp">
    <div class="flex-container">
      <div class="logo-image flex-child">
        <img src="../../../assets/images/book.png" class="img-fluid">
      </div>
      <div class="flex-child">
        <a class="navbar-brand" href="https://bookapp-15881.web.app/">
          BookApp
        </a>
        <div class="flex-container">
          <div class="message flex-childy">
            <a href="https://github.com/alishashaik24/BookApp.git" target="_blank">
              <button class="btn github"><i class="fab fa-github"></i> Code</button></a>
          </div>
          <div class="message">
            <a href="https://bookapp-15881.web.app/" target="_blank">
              <button class="btn github"><i class="fab fa-angular"></i> Link</button></a>
          </div>
        </div>
        <div class="abt">
          Created book app for displaying all books and also we can add books and authors
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<div class="exp">
  <div class="flex-container">
    <div class="logo-image1 flex-child">
      <img src="../../../assets/images/chatapp.png" class="img-fluid">
    </div>
    <div class="flex-child">
      <a class="navbar-brand" href="https://chatapplication-40e10.web.app/">
        Chat Application
      </a>
      <div class="flex-container">
        <div class="message flex-childy">
          <a href=" https://github.com/alishashaik24/ChatApplication.git" target="_blank">
            <button class="btn github"><i class="fab fa-github"></i> Code</button></a>
        </div>
        <div class="message">
          <a href="https://chatapplication-40e10.web.app/" target="_blank">
            <button class="btn github"><i class="fab fa-angular"></i> Link</button></a>
        </div>
      </div>
      <div class="abt"> Real time chat application using io socket.</div>
    </div>
  </div>
</div>
