<br><br><br><br>
<h2>Education:</h2>
<br>
<div class="exp">
  <div class="flex-container">
    <div class="logo-image flex-child">
      <img src="../../../assets/images/alits.jpg" class="img-fluid">
    </div>
    <div class="flex-child">
      <a class="navbar-brand" href="http://alits.ac.in/">
        <p>Anantha Lakshmi Institute of Technology and Sciences</p>
      </a>
      <p>Computer Science and Engineering</p>
      <p>2016-2020</p>
    </div>
  </div>
</div>
<br>
<div class="exp">
  <div class="flex-container">
    <div class="logo-image flex-child">
      <img src="../../../assets/images/scjc.png" class="img-fluid">
    </div>
    <div class="flex-child">
      <a class="navbar-brand" href="https://srichaitanya.net/">
        <p>Sri Chaitanya Junior College</p>
      </a>
      <p>MPC</p>
      <p>2014-2016</p>
    </div>
  </div>
</div>
<br>
<div class="exp">
  <div class="flex-container">
    <div class="logo-image flex-child">
      <img src="../../../assets/images/lakshmi.jpg" class="img-fluid">
    </div>
    <div class="flex-child">
      <a class="navbar-brand" href="https://www.justdial.com/Anantapur/Lakshmi-Em-High-School-Near-Sv-Cinema-Theatre-Anantapur-Ho/9999PMULHYDSTD8695_BZDET">
        <p>Lakshmi Concept School</p>
      </a>
      <p>2014</p>
      <p>Ananthapur, Andhra Pradesh.</p>
    </div>
  </div>
</div>
