h2{
  color: rgb(138, 5, 138);
  margin-left: 150px;
}
.exp{
  margin-left:250px;
  padding: 20px;
  border-radius: 2%;
  transition: transform ,2s;
  width: 800px;
  height: 140px;
  background-color: rgb(255, 255, 250);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 12px;
}
.exp:hover{
  transform: scale(1.05);
}

.logo-image {
  width: 140px;
  height: 140px;
  overflow: hidden;
}
.flex-container {
  display: flex;
}
.flex-child:first-child {
  margin-right: 60px;
}
.navbar-brand{
  margin-top: -10px;;
  color: rgb(93, 178, 248);
}
